.home {
    text-align: center;
}

h1.dupe {
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    color: #0f0f0f;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    animation-name: expand;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}


@keyframes expand {
    0% {
        line-height: 0px;
    }
    85% {
        line-height: 100px;
    }
    100% {
        line-height: 50px;
    }
}
